<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-7h26{color:#00E;text-align:left;text-decoration:underline;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"></th>
    <th class="tg-0lax"><span style="font-weight:bold">Mandag</span></th>
    <th class="tg-0lax" colspan="2"><span style="font-weight:bold">Tirsdag</span></th>
    <th class="tg-0lax"><span style="font-weight:bold">Onsdag</span></th>
    <th class="tg-0lax"><span style="font-weight:bold">Torsdag</span></th>
    <th class="tg-0lax"><span style="font-weight:bold">Fredag</span></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">08:00</span></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax" colspan="2"><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?csf=1&web=1&e=Cew0SH&cid=3e510f8e%2Dab6a%2D4113%2D8f74%2De4ca644fc6df&id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse1&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">Study course A</a><br><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?csf=1&web=1&e=Cew0SH&cid=3e510f8e%2Dab6a%2D4113%2D8f74%2De4ca644fc6df&id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse1&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">5524-143</a><br>Note: Lokale kan ændres</td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax"><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse2&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">Study course B</a><br><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse2&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">5524-143</a><br>Note: Lokale kan ændres</td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">10:00</span></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax" colspan="2"><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?csf=1&web=1&e=Cew0SH&cid=3e510f8e%2Dab6a%2D4113%2D8f74%2De4ca644fc6df&id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse1&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">Study course A</a><br><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?csf=1&web=1&e=Cew0SH&cid=3e510f8e%2Dab6a%2D4113%2D8f74%2De4ca644fc6df&id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse1&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">5524-143</a><br>Note: Lokale kan ændres</td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax"><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse2&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">Study course B</a><br><a href="https://aarhusuniversitet-my.sharepoint.com/personal/au635979_uni_au_dk/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fau635979%5Funi%5Fau%5Fdk%2FDocuments%2Fsjette%20semester%2FSHARED%2FSTUDY%20COURSES%2Fcourse2&FolderCTID=0x012000F79663B8F3F3A34CACB23091647301B0&view=0">5524-143</a><br>Note: Lokale kan ændres</td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">12:00</span></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax"><a href="https://brightspace.au.dk/d2l/le/lessons/109262">Stokastisk signalbehandling</a><br><a href="https://brightspace.au.dk/d2l/le/lessons/109262">5125-417</a></td>
    <td class="tg-7h26"><a href="https://brightspace.au.dk/d2l/le/lessons/107355/units/1436040" target="_blank" rel="noopener noreferrer">Advanced Control Systems</a><br><a href="https://brightspace.au.dk/d2l/le/lessons/107355/units/1436040" target="_blank" rel="noopener noreferrer">5789-003B</a></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
  </tr>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">14:00</span></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax"><a href="https://brightspace.au.dk/d2l/le/lessons/109262">Stokastisk signalbehandling</a><br><a href="https://brightspace.au.dk/d2l/le/lessons/109262">5125-417</a></td>
    <td class="tg-7h26"><a href="https://brightspace.au.dk/d2l/le/lessons/107355/units/1436040" target="_blank" rel="noopener noreferrer">Advanced Control Systems </a><br><a href="https://brightspace.au.dk/d2l/le/lessons/107355/units/1436040" target="_blank" rel="noopener noreferrer">5789-003B</a><br></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax"><a href="https://www.terma.com/">Terma</a><br><a href="https://www.terma.com/">Hovmarken 4</a></td>
  </tr>
</tbody>
</table>