
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-fymr {
        border-color: inherit;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }
</style>
<table class="tg" id="schedule">
    <thead>
        <tr>
            <th class="tg-0pky"></th>
            <th class="tg-0pky"><span style="font-weight:bold">Mandag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Tirsdag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Onsdag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Torsdag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Fredag</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-fymr"><span style="font-weight:bold">08:00</span></td>
                <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/90891" target="_blank">MEMS ans Sensors<br>5125-120</a><br>Note: Forelæsning</td><td class="tg-0pky"></td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/90890" target="_blank">Energy System Policies, Economics & Markets<br>5128-132</a><br>Note: Holdundervisning</td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/91418" target="_blank">Analoge kredsløb og systemer<br>5125-423</a><br>Note: Praktisk</td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/90890" target="_blank">Energy System Policies, Economics & Markets<br>5128-132</a><br>Note: Holdundervisning</td> 
        </tr>
            <tr><td class="tg-fymr"><span style="font-weight:bold">10:00</span></td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/90891" target="_blank">MEMS ans Sensors<br>5125-120</a><br>Note: Forelæsning</td><td class="tg-0pky"></td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/90890" target="_blank">Energy System Policies, Economics & Markets<br>5128-132</a><br>Note: Holdundervisning</td><td class="tg-0pky"></td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/90890" target="_blank">Energy System Policies, Economics & Markets<br>5128-132</a><br>Note: Holdundervisning</td> 
        </tr>
            <tr><td class="tg-fymr"><span style="font-weight:bold">12:00</span></td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/91418" target="_blank">Analoge kredsløb og systemer<br>5125-423</a><br>Note: Forelæsning</td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/91531" target="_blank">Applied Innovation in Engineering<br>1533-103 Aud. E</a><br>Note: Forelæsning</td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/91504" target="_blank">Systems Engineering<br>5123-122</a><br>Note: Forelæsning</td><td class="tg-0pky"></td><td class="tg-0pky"></td> 
        </tr>
            <tr><td class="tg-fymr"><span style="font-weight:bold">14:00</span></td><td class="tg-0pky"></td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/91531" target="_blank">Applied Innovation in Engineering<br>1533-103 Aud. E</a><br>Note: Holdundervisning</td><td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/home/91504" target="_blank">Systems Engineering<br>5123-122</a><br>Note: Forelæsning</td><td class="tg-0pky"></td><td class="tg-0pky"></td>
        </tr>
    </tbody>
</table>
