{{ partial "header.html" . }}


{{ .Content }}
<div style="text-align:center;">
<form action="https://forms.un-static.com/forms/179a8b5eb8be3088d0674773cf32cbdc18ed3625" 
      method="POST"
      accept-charset="UTF-8"
      id="usrform">
    Navn: <input type="text" name="fullname"> <br>
    Email: <input type="email" name="email"><br>
    <button type="submit">Send</button>
</form><br>
<textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Din besked her..."></textarea>
</div>