pre#logo {
  border: 0px solid #ddd;
  box-shadow: 0px 0px 0px #eee;
  padding: 1em;
  overflow-x: auto;
  font-family: monospace;
  font-size: 11px;
}

a {
	color: black;
}

a:visited {
	color:black;
}

a:hover {
	font-style: italic;
}

img[src$='#center'] {
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}