pre#logo {
  border: 0px solid #ddd;
  box-shadow: 0px 0px 0px #eee;
  padding: 1em;
  overflow-x: auto;
  font-family: monospace;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  pre#logo {
    font-size: 11px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  pre#logo {
    font-size: 7px;
  }
  .tg th {
    font-size: 11px;
  }

  .tg td {
    font-size: 11px;
  }
}

a {
	color: black;
}

a:visited {
	color:black;
}

a:hover {
	font-style: italic;
}

img[src$='#center'] {
  display: block;
  margin: 1.0rem auto;
  max-width: 80%;
  height: auto;
}

.quote {
  margin: 0;
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption {
  margin: 1em;
  text-align: right;
  padding-right: 3em;
}
.quote blockquote {
  background: none;
  margin: 1em;
  font-weight: bold;
}

.menu li {
  margin: 2px;
}

.main_frame_macro {
  width: 100%;
  border: 1px solid black;
  overflow: hidden; /* will contain if #first is longer than #second */
  height:400px;
}
.main_frame_macro .left_frame {
  width: 50%;
  float:left; /* add this */
  border: 1px solid red;
  height:100%;
}

.clock {
  text-align: center;
}

.clock #time {
  font-size: 10em;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
}

.clock #description {
  margin-top:0px;
  padding-top:0px;
}