<div id="googleMap" style="width:100%;height:400px;"></div>


 <div>
  <b>Start:</b>
  <select id="start" name="bodegalist">
    {{range $.Site.Data.bodegaer.bodegaer}}
      <option value="{{ .bodega.latLng }}">{{ .bodega.name}}</option>
    {{end}}
  </select>
  <br />
  <b>Antal steder:</b>
  <select id="num">
    {{range $index, $element := $.Site.Data.bodegaer.bodegaer}}
      <option value="{{add $index 1}}">{{add $index 1}}</option>
    {{end}}
  </select>
  <br />

  <input type="submit" id="submit" value="Find rute"></input>

  <ol id="rute">
  </ol>

  <script>
    const element = document.getElementById('num')[0];
    element.remove();
  </script>
  <p id="saveRoute"></p>
  <input type="text" id="regenText">
  <input type="submit" id="submitRegen" value="Regenerer rute"></input>
</div>