<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-fymr {
        border-color: inherit;
        font-weight: bold;
        text-align: left;
        vertical-align: top
    }
</style>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-0pky"></th>
            <th class="tg-0pky"><span style="font-weight:bold">Mandag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Tirsdag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Onsdag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Torsdag</span></th>
            <th class="tg-0pky"><span style="font-weight:bold">Fredag</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tg-fymr"><span style="font-weight:bold">08:00</span></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/70512" target="_blank">Printed Electronic
                    Technologies<br>5125-120</a></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71233" target="_blank">Photonic
                    Devices<br>5125-423</a></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71263" target="_blank">RF System
                    Design<br>5125-235</a><br>Note: Starter først 09:15</td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-fymr"><span style="font-weight:bold">10:00</span></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/70512" target="_blank">Printed Electronic
                    Technologies<br>5125-120</a></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71233" target="_blank">Photonic
                    Devices<br>5125-423</a></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71263" target="_blank">RF System
                    Design<br>5125-235</a></td>
            <td class="tg-0pky"></td>
        </tr>
        <tr>
            <td class="tg-fymr"><span style="font-weight:bold">12:00</span></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71233" target="_blank">Photonic
                    Devices<br>5125-423</a></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71090" target="_blank">Electronic Hardware
                    System Design<br>5125-235</a></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71305" target="_blank">Wearable and
                    Implantable Devices<br>5125-423</a></td>
        </tr>
        <tr>
            <td class="tg-fymr"><span style="font-weight:bold">14:00</span></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71090" target="_blank">Electronic Hardware
                    System Design<br>5125-235</a></td>
            <td class="tg-0pky"><a href="https://brightspace.au.dk/d2l/le/lessons/71305" target="_blank">Wearable and
                    Implantable Devices<br>5125-423</a></td>
        </tr>
    </tbody>
</table>